.topDiv {
  margin-left: 15%;
  margin-right: 15%;
}
#titleLogo {
  float: left;
}
#icons {
  position: relative;
  left: 50%;
}
h3 {
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  position: relative;
  bottom: 50px;

}
h1{
  clear:both;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 0px;
}
#webTitle{
  float: left;
  height: 75px;
}
#secondHead{
  clear:both;
  margin-left: 15%;
  margin-right: 15%;
}
#border1{

}
#title{
  float:left;
  /*margin-left: 15%;
  margin-right: 15%;*/
  height: 90px;
}
.titleInfo {
  font-size: 12px;
  position: relative;
  bottom: 17px;
  color: grey;
}

#print{
  position: relative;
  left: 64%;
  top: 42px;
  font-size: 12px;
  color: grey;
}
#mainPic{
  margin-left: 15%;
  margin-right: 15%;
}
#article {
  margin-left: 15%;
  margin-right: 22%;
  text-indent: 50px;
  color: grey;
  font-size: 18px;
}
.ingredients {
  background-image: url("img/list-bg.png");
  margin-left: 15%;
  margin-right: 22%;
  height: 300px;
  border-left: white;
  border-right: white;
  margin-bottom: 40px;
}
.leftList {
  float: left;
  font-size: 20px;
  margin-top: 33px;
}
.rightList {
  position: relative;
  left: 220px;
  font-size: 20px;
  float:left;
}
ul {
  list-style-type: none;
  font-family: 'Patrick Hand', cursive;

}
#border2 {
  margin-left: 15%;
  margin-right: 15%;
}
#bottomDiv{
  margin-left: 15%;
  float: left;
}
#vanPicture{
  float:left;
  display: inline-block;
}
#last{
  clear:both;
  text-align: center;
}
input{
  margin-right: 6%;
  color: white;
  background-color: #e06755;
  height: 60px;
  width: 190px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  position: relative;
  left: 15px;
}
.printContent {
  display: inline-block;
}
#titleSub {
  position: relative;
  bottom: 105px;
  left: 45px;
  font-size: 10px;
}
li{
  margin-top: 4px;
}
#firstList{
  margin-top: 20px;
}
#about{
  font-size: 18px;
  margin-top: initial;
}
h2{
  display:initial;
}
hr {
  clear: both;
  margin-top: 100px;
}
#last{

  color: grey;
}
#lastImg {
  position: relative;
  bottom: 26px;
}
