.topDiv {
  margin-left: 15%;
  margin-right: 15%;
}
#titleLogo {
  float: left;
}
#icons {
  position: relative;
  left: 50%;
}
h3 {
  font-size: 40px;
  font-family: 'Yellowtail', cursive;
  position: relative;
  bottom: 50px;

}
h1{
  clear:both;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  margin-bottom: 0px;
}
#webTitle{
  float: left;
  height: 75px;
}
#secondHead{
  clear:both;
  margin-left: 15%;
  margin-right: 15%;
}
#border1{

}
#title{
  float:left;
  /*margin-left: 15%;
  margin-right: 15%;*/
  height: 90px;
}
.titleInfo {
  font-size: 12px;
  position: relative;
  bottom: 17px;
  color: grey;
}

#print{
  position: relative;
  left: 64%;
  top: 42px;
  font-size: 12px;
  color: grey;
}
#mainPic{
  margin-left: 15%;
  margin-right: 15%;
}
#article {
  margin-left: 15%;
  margin-right: 15%;
}
.ingredients {
  background-image: url("img/list-bg.png");
  margin-left: 15%;
  margin-right: 20%;
  height: 180px;
  border-bottom: 3px solid grey;
  border-left: white;
  border-right: white;
  margin-bottom: 40px;
}
.leftList {
  float: left;
}
.rightList {
  position: relative;
  left: 220px;
}
ul {
  list-style-type: none;
}
#border2 {
  margin-left: 15%;
  margin-right: 15%;
}
#bottomDiv{
  margin-left: 15%;
  float: left;
}
#vanPicture{
  float:left;
}
#last{
  clear:both;
  text-align: center;
}
input{
  margin-right: 6%;
  color: white;
  background-color: red;
}
.printContent {
  display: inline-block;
}
#titleSub {
  position: relative;
  bottom: 105px;
  left: 45px;
  font-size: 10px;
}
